
.tworow {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.classify-box {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .classify-box a {
        display: table-cell;
        vertical-align: middle;
    }

        .classify-box a p {
            vertical-align: middle;
        }

.txt-big {
    font-size: 13px;
    color: #000;
}

.txt-little {
    font-size: 10px;
    color: #666;
    margin-top: 5px;
}

.classify-div {
    width: 50%;
    height: 60px;
    display: table;
    padding: 0px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../images/classify1.png") no-repeat right 10px center;
    -webkit-background-size: 30px;
    background-size: 30px;
}

.classify2 {
    background: url("../images/classify2.png") no-repeat right 10px center;
    -webkit-background-size: 30px;
    background-size: 30px;
}

.posi-img {
    position: relative;
}

.themeimg {
    position: relative;
}

.jt {
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}


.hotshop-iconblack {
    display: inline-block;
    width: 40px;
    height: 15px;
    background: url("../images/hotshop2.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    left: -5px;
    bottom: 10px;
}

.hot-new {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/hot_new.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.hotsale-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/hotshop3.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.seemoreshop a {
    height: 162px;
    background: url("../images/seemore.png")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.theme {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2;
}

.theme-banner {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.theme-sp {
    width: 31.3%;
    margin-right: 10px;
}

.shopname {
    font-size: 12px;
    padding: 5px 0 0px 5px;
    height: 37px;
    display: -webkit-box;
    -webkit-box-pack: center;
    align-items: center;
    margin-bottom: 5px;
}

.theme-price, .now-price {
    font-size: 15px;
    color: #d01d47;
    line-height: 1;
}
/*专题*/



.hotshop-icon {
    position: absolute;
    left: -5px;
    bottom: 70px;
    display: inline-block;
    width: 40px;
    height: 15px;
    background: url("../images/hotshop.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    font-size: 9px;
    text-align: center;
    line-height: 15px;
    color: #fff;
}

.saletime-icon, .discount-icon {
    width: 50px;
    height: 15px;
    line-height: 15px;
    font-size: 9px;
    text-align: center;
    background: url("../images/hotshop.png") no-repeat;
    color: #fff;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding-right: 5px;
    position: absolute;
    bottom: 50px;
    left: -5px;
    display: inline-block;
}