
.publish-box {
            width: 100%;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px 10px 10px 120px;
            height: 170px;
            font-size: 13px;
            color: #333;
            text-align: center;
            background: url("../images/publish_true.png") no-repeat left 10px center #fff;
            -webkit-background-size: 106px;
            background-size: 106px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .thank-bottom {
            font-size: 12px;
            color: #666;
        }

        .see-publish {
            width: 76px;
            height: 20px;
            line-height: 20px;
            font-size: 11px;
            color: #d01d47;
            border: 1px solid #d01d47;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }

        .see-publish {
            align-self: flex-end;
        }
        /*头部带图片区域*/
        .content {
            margin-top: 10px;
            color: #333;
            padding-bottom: 10px;
        }

        .content-title {
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            text-indent: 15px;
            border-bottom: 1px solid #e2e2e2;
        }

        .content .list li {
            float: left;
            width: 46%;
            margin-left: 2.7%;
            margin-top: 10px;
            position: relative;
        }

        .list a img {
            width: 100%;
        }

        .list li {
            background: #fff;
        }

        .list .list-name {
            font-size: 13px;
            padding: 4px 10px 0 0;
            text-indent: 10px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .list .price {
            font-size: 16px;
            color: #d01d47;
            text-indent: 10px;
            margin-right: 10px;
            position: relative;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .sale-num {
            font-size: 10px;
            color: #656565;
            display: inline-block;
            text-indent: 4px;
            vertical-align: middle;
        }

        .price img {
            position: absolute;
            top: 0;
            right: 0;
        }

        .list .hot {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 37px;
        }

        .shop-intro {
            font-size: 12px;
            text-indent: 10px;
            color: #666;
        }