.top { width: 100%; height: 44px; background: #fff; position: fixed; top: 0; left: 0;z-index: 10; }
.logo { display: inline-block; width: 52px; height: 44px; background: url("../images/logo.png") center no-repeat; background-size: 100%; margin-left: 15px; }
.logotext { display: inline-block; height: 44px; line-height: 44px; color: #d01d47; vertical-align: top; margin-left: 10px; }
/*logo*/
.content { padding-bottom: 50px; overflow: auto; margin-top: 44px; }
.list a { color: #333; }
.list a img { width: 100%; }
.list a .p1 { background: #fff; height: 44px; line-height: 44px; font-size: 14px; text-indent: 15px; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; text-align:center; }
/*商品*/
.nav .i1 { background-position: 0 -25px;color: #d01d47; }
/*底部导航*/
.mingle { padding: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.min-left{ width: 49%; float: left; }
.min-right{  width: 49%;float: right;}
.mt3{ margin-top: 4px;}
.min-right a{ position: relative;}
.pri-mask{ width:80%; position: absolute; bottom:5px; left:10%; text-align: center; background: rgba(255,255,255,.9); padding:3px 0;}
.pri{ font-size:18px; color: #e9231b; font-weight:bolder;}
.see-detail{ color: #333; font-size:12px;}

.hot-title{ height:34px; line-height:34px; text-align: center; font-size:16px; border-bottom:1px solid #e2e2e2;}
.hot-shop{ padding:10px 15px; height:100%; overflow: hidden; display: flex; margin-bottom:10px;}
.hot-shop-img{ width:43.8%;align-self: flex-start;}
.hot-shop-info{ font-size:12px; width:58%; display: flex;flex-direction: column; justify-content:space-around; padding-left:10px;}
.now-pri{ font-size:24px; color: #d01d47; font-weight:bold;}
.before-pri{ text-decoration:line-through; color: #656565;}
.out-num{ color: #656565;}
.ope-box{ height:25px; line-height:25px; border:2px solid #d01d47; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.ope-box span{ display: inline-block; width:50%; text-align: center;}
.buy{ color: #fff; background: #d01d47;}
.out-num{ font-size:10px;}
.rmb{font-size: 16px;font-weight: normal;}

.hot-shop{display: -webkit-box;display: -webkit-flex; display: -ms-flexbox; display: flex;}

.nav .alinkone { color: #d01d47; }