.user {
    font-size: 12px;
    padding: 10px 15px;
    line-height: 35px;
    border-bottom: 1px solid #e2e2e2;
}

.username {
    margin-left: 10px;
    color: #666;
}

.user-img {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.theme-intro {
    padding: 20px 15px;
    text-indent: 24px;
    font-size: 12px;
    line-height: 20px;
}
/*主题介绍*/
.content .list li {
    float: left;
    width: 44%;
    margin-left: 4%;
    margin-top: 10px;
    position: relative;
}

.list a img {
    width: 100%;
}

.list li {
    background: #fff;
}

.list .list-name {
    font-size: 13px;
    padding: 4px 10px 0 0;
    text-indent: 10px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shop-intro {
    font-size: 12px;
    color: #656565;
}

.list .price {
    font-size: 16px;
    color: #d01d47;
    text-indent: 10px;
    margin-right: 10px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sale-num {
    font-size: 10px;
    color: #656565;
    display: inline-block;
    text-indent: 4px;
    vertical-align: middle;
}

.price img {
    position: absolute;
    top: 0;
    right: 0;
}

.list .hot {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 37px;
}

.topimg {
    position: relative;
}

.toptxt {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.themcart {
    float: right;
    width: 16px;
    height: 16px;
    background: url("../images/cart2.png")no-repeat;
    -webkit-background-size: 16px;
    background-size: 16px;
}



.content {
    color: #333;
    padding: 0 10px 10px 10px;
}

.price {
    font-size: 15px;
    color: #d01d47;
}

.list-name, .shop-intro, .price {
    padding: 0 5px;
}

.list-name, .price {
    padding: 3px 5px;
}

.shop-intro {
    color: #666;
}

.tworow {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}



.content-left a {
    border: 1px solid #ebebeb;
}
/*多列*/
.list-name, .shop-intro, .price {
    padding: 0 5px;
}

.list-name, .price {
    padding: 4px 5px;
}

.content-left a, .content-right a {
    border: .5px solid #ebebeb;
}

.hotshop-iconblack {
    display: inline-block;
    width: 40px;
    height: 15px;
    background: url("../images/hotshop2.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    left: -5px;
    bottom: 10px;
}

.hot-new {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/hot_new.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.hotsale-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/hotshop3.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.posi-img {
    position: relative;
}

.hotshop-icon {
    position: absolute;
    left: -5px;
    bottom: 70px;
    display: inline-block;
    width: 40px;
    height: 15px;
    background: url("../images/hotshop.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    font-size: 9px;
    text-align: center;
    line-height: 15px;
    color: #fff;
}

.saletime-icon, .discount-icon {
    width: 50px;
    height: 15px;
    line-height: 15px;
    font-size: 9px;
    text-align: center;
    background: url("../images/hotshop.png") no-repeat;
    color: #fff;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding-right: 5px;
    position: absolute;
    bottom: 50px;
    left: -5px;
    display: inline-block;
}

.discount-icon {
    position: absolute;
    bottom: 30px;
    left: -5px;
}


.content-left {
    width: 100%;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}

.adiv {
    padding-left: 10px;
    width: 100%;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    color: #333;
    padding: 10px 10px 60px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




/*内容区*/
.swiper-pagination-fraction {
    left: 87%;
    bottom: 5px;
    right: 10px;
    width: 35px;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 11px;
    color: #fff;
    background: rgba(0, 0, 0, .3);
}
/*分页器*/
.swiper-pagination-current {
    color: #fff;
    position: relative;
}
/*数字颜色*/
/*轮播*/
.xian {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    border-left: 30px solid #333;
    border-right: 30px solid #333;
    line-height: 1px;
    padding: 0 10px;
}

.count-down {
    padding: 10px;
    text-align: center;
}

.discount-box-left {
    margin-right: 10px;
    width: 104px;
    height: 80px;
    text-align: center;
    background: url("../images/red_bg.png") no-repeat;
    background-size: cover;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.price-big {
    font-size: 42px;
    font-weight: 500;
    color: #fff;
}

.f11 {
    font-size: 11px;
}

.draw {
    width: 15px;
    text-align: center;
    font-size: 12px;
    align-self: stretch;
    padding: 0 3px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ticket-box {
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

    .ticket-box > div:last-child {
        margin-right: 0;
    }
/*优惠券*/
.count-down-box {
    font-size: 11px;
}

.count-down-span {
    width: 20px;
    height: 16px;
    margin: 0 4px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    background: #333;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.red-span {
    background: #d01d47;
}
/*倒计时*/
