
textarea {
    resize: none;
    width: 100%;
    height: 68px;
}
.evaluate-box {
    padding: 10px;
}
.star-wrap,
.evaluate-img {
}
.evaluate-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.starboxwrap {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.star-box {
}
.star-box li {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../images/star_gray_one.png") no-repeat;
    -webkit-background-size: 17px;
    background-size: 17px;
}
.star-box li.star-red {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../images/star_red_one.png") no-repeat;
    -webkit-background-size: 17px;
    background-size: 17px;
}
.startxt {
    color: #666;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 5px;
}
/*评星*/
.cla,
.clatwo {
    width: 100%;
    background: rgba(255, 255, 255, .9);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cla li,
.clatwo li {
    float: left;
    color: #666;
    width: 20%;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cla span,
.clatwo span {
    display: block;
    margin: auto;
    width: 57px;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    text-align: center;
    font-size: 11px;
}
.cla span.active, .clatwo span.active {
    background: #d01d47;
    color: #fff;
    border: 1px solid #d01d47;
}
.acspan {
    background: #d01d47;
    color: #fff;
    border: 1px solid #d01d47;
}
.clatxt {
    font-size: 13px;
    padding: 10px;
}
/*印象*/
.footer {
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 -4px 6px #ccc;
    -moz-box-shadow: 0 -4px 6px #ccc;
    box-shadow: 0 -4px 6px #ccc;
}
.footer > li:first-child {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    width: 66%;
}
.all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-indent: 2px;
    color: #656565;
    padding: 0 5px 0 40px;
    position: relative;
}
.all li:first-child {
    color: #333;
}
.all-cost {
    font-size: 14px;
    color: #d01d47;
    font-weight: bold;
}
.footer > li:last-child {
    float: right;
    width: 34%;
    background: #d01d47;
    color: #fff;
}
.footer > li:last-child a {
    color: #fff;
}
/*底部结算*/
.left span {
    display: block;
    width: 21px;
    height: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    border: 1px solid #e2e2e2;
    margin: 0 auto;
}
.left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.chose-num {
    position: relative;
}
.ncheck {
    width: 21px;
    height: 21px;
    display: inline-block;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 10px;
}
.choseall {
    width: 21px;
    height: 21px;
    border: 1px solid #e2e2e2;
    background-size: 23px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    left: -30px;
}
.ycheck {
    width: 23px;
    height: 23px;
    display: inline-block;
    background: url("../images/check.png") no-repeat center;
    background-size: 23px;
    border: none;
}
/*选中样式*/
/*底部*/
.return-money span {
    height: 30px;
    line-height: 30px;
    font-size: 10px;
}
.explain {
    padding: 10px 15px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.explain textarea {
    width: 80%;
    outline: none;
    color: #333;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}
input[type="file"] {
    display: none;
}
input[type="file"] + label {
    width: 43px;
    height: 43px;
    line-height: 43px;
    font-size: 40px;
    color: #e2e2e2;
    text-align: center;
    display: inline-block;
    border: 1px solid #e2e2e2;
}
.imgbox {
    position: relative;
}
.box {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box .imgbox {
    margin-right: 5px;
}
input[type="submit"] {
    display: block;
    border: none;
    width: 240px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background: #d01d47;
    color: #fff;
    margin: 0 auto;
}
.a1 li {
    opacity: .1;
}
.fileList img {
    display: inline-block;
    width: 78px;
    height: 78px;
    margin-right: 5px;
}
.cont {
    padding-bottom: 60px;
}
.star-txt {
    display: inline-block;
    font-size: 13px;
    color: #d01d47;
    margin-left: 10px;
}